%section#Contact
  %hr
  .section-header
    .section-title
      .row
        .col-sm-12.col-md-12.col-lg-12
          %h1.text-center Contact
          %p.text-center Questions? Get in touch with us.
  .section-content
    .row
      .col-xs-10.col-sm-10.col-md-8.col-lg-6.col-centered
        .card.card-success{style: "margin: 0% 10% 0% 10%"}
          .card-block.text-center
            = mail_to "contact@energyxfitness.com" do
              %h4 Email Us
