%section#Pricing
  %hr
  .container.container-fluid
    .section-header
      .section-title
        .row.row-fluid
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h1 Pricing
    .section-content
      #pricing_options_placeholder.text-center
        %p.lead
          %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw
