%section#Schedule
  %hr
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h1 Schedule
              %p
                Powered by MindBody™, and also available
                %a{href: '#'} here.
    .section-content
      .row
        .col-sm-12
