- provide(:title, "San Antonio Best Total Body Workout")
%section#LandingContainer
  %video#video-background{:autoplay => "", :loop => "", :muted => "", "plays-inline" => ""}
    %source{:src => asset_url("BGLoop_01.webm"), :type => "video/webm"}
    %source{:src => asset_url("BGLoop_01.ogv"), :type => "video/ogg"}
    %source{:src => asset_url("BGLoop_01.mp4")}
  .row
    .col-sm-12.col-md-8.col-lg-4
      .jumbotron
        %h1.text-white
          San Antonio's
          %em Best
          Total Body Workout
        %p.text-white
          It’s rowing – and so much more. Alternating intervals on and off of the Water Rower GX™,
          combined with dynamic Kettlebell™ and TRX™ exercises delivers a triple threat workout.
          %em High-intensity sweat, low-impact burn, total body results.
        %br
        %a.btn.btn-success.btn-lg.btn-block{href: '#Schedule'} Book A Class
        %br
        %span.text-white
          Your first class is free!
          %i.fa.fa-info-circle

%section#Schedule
  %hr
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h1 SCHEDULE
              %p
                If you experience difficulties booking, try our
                %a{href: '#'} direct booking site.
                Powered by MindBody™.
    .section-content
      #schedule_placeholder.text-center
        %p.lead
          %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw

%section#Events
  %hr
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h1 EVENTS
              %p You don't always have to work out to hang out, sometimes we also go out! Check out what we've got planned.
    .section-content
      #events_placeholder
        %p.lead.text-center
          %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw

%section#Classes
  %hr
  .container.container-fluid
    .section-header
      .section-title
        .row.row-fluid
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h1 CLASSES
              %p
                Our classes are designed to
                %em push
                you, not
                %em wreck
                you. Most are 45 minutes to an hour long, and you don't need any previous experience on a
                water rower to get a great workout.
    .section-content
      #classes_placeholder.text-center
        %p.lead
          %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw

%section#Coaches
  %hr
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h1 COACHES
              %p
                Our coaches are integral to everything we do.
    .section-content
      #coaches_placeholder
        %p.lead.text-center
          %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw

%section#Coaches
  %hr
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h1 FAQs
              %p You got questions, we got answers.
    .section-content
      #questions_placeholder
        %p.lead.text-center
          %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw

= render 'static_pages/contact'
