- provide(:title, "San Antonio Best Total Body Workout")
.row{style: "margin-top: 10vh;"}
  .col-sm-12.col-md-6.col-lg-4{style: 'padding-bottom: 20px;'}
    %br
    %h1 San Antonio's Best Total Body Workout
    %p
      It’s rowing – and so much more. Alternating intervals on and off of the row machine, combined with dynamic Kettlebell™ and TRX™ exercises deliver a triple threat workout: high-intensity sweat, low-impact burn, total body results.
    %br
    %a.btn.btn-outline-primary
      Book A Class
    %a.btn.btn-success
      .text-white Buy A Pass
  .col-sm-12.col-md-6.col-lg-8
    .card.card-outline-primary
      = video_tag "BGLoop_01.webm", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video"
