%section
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h1= @article.title
              %hr
              %br
              %em.lead= @article.preview_text
    .section-content
      .row
        .col-sm-12
          =@article.body.html_safe
