- provide(:title, 'Participants')
%br
%br
.row
  .col-sm-12
    %h3
      %i.fa.fa-street-view
      Participants
      .pull-right
        = link_to new_participant_path, class: 'btn btn-success btn-sm', remote: true do
          %i.fa.fa-plus
          New
.row
  .col-sm-12
    = smart_listing_render :participants

= render "participants/dialog"
