.row
  .col-sm-12
    .card.card-outline-primary.table-card
      .table-responsive
        %table.table
          %thead.thead-inverse
            %th= smart_listing.sortable 'Name', :name
            %th Email
            %th Phone
            %th Created
            %th Shirt
            %th Wave
            %th Team
            %th Charge
            %th
          %tbody#registrations
            - smart_listing.collection.each do |registration|
              = render registration.decorate
        %br
%br
.row
  .col-sm-12
    .pull-right
      = smart_listing.paginate
      = smart_listing.pagination_per_page_links
