- provide(:title, "#{@event.name} Confirmation")
%section
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-6.col-lg-6
            .text-center
              = render "events/promo_details", event: @event
          .col-sm-12.col-md-6.col-lg-6
            .unobtrusive-flash-container{style: "z-index: 100000"}
            .card
              .card-block
                .text-center
                  %h1.text-success SUCCESS
                  %br
                  %h4
                    Your registration for
                    %strong= @event.name
                    is complete!
                  %br
                  %p
                    We charged your card the event registration fee of
                    = number_to_currency(@event.price_in_cents / 100, precision: 2)
                    Please contact us to change any of your registration details!
