.row
  - @types.each do |type|
    .col-sm-12.col-md-6.col-lg-3
      .card.mb-4
        %img.card-img-top{:alt => "Card image cap", :src => "http://via.placeholder.com/250x200"}
        .card-block
          %h4.card-title= type.name
          %p.card-text= type.description
        .card-footer
          %small
            - if type.link
              = link_to type.link, class: 'btn btn-primary btn-sm pull-right' do
                %i.fa.fa-calendar
                SCHEDULE
