.row.equal-height
  - @types.each do |type|
    .col-sm-12.col-md-4
      .card.my-3
        %img.card-img-top.img-fluid{alt: type.name, src: type.promo_image.url, style: "max-height: 225px;"}
        .card-block
          %h4.card-title= type.name
          %p.card-text= type.description
        .card-footer
          %small.pull-right
            - if type.link
              = link_to type.link, class: 'btn btn-sm btn-success', style: "color: #000" do
                %i.fa.fa-calendar
                SCHEDULE
