%footer.footer
  .container
    %span.text-white
      Digital Experience crafted by
      = link_to 'AtlasDoes', 'https://www.atlasdoes.com'

%script{:src => "https://widgets.healcode.com/javascripts/healcode.js", :type => "text/javascript"}
