%header.header
  %nav.navbar.navbar-toggleable-md.navbar-inverse.fixed-top
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    %a.navbar-brand{href: root_path}
      = image_tag "energyx_logo_white.png", class: "img img-responsive", style: "max-height: 30px; display: inline-block; margin-top: -5px; margin-left: 20px;"
    #navbarCollapse.collapse.navbar-collapse.text-white
      %ul.navbar-nav.ml-auto
        %li.nav-item.text-center
          %a.nav-link.text-success{href: 'https://vimeo.com/ondemand/energyxonline', target: 'blank'}
            %i.fa.fa-tv
            ONDEMAND
        %li.nav-item.text-center
          %a.nav-link.text-success{href: action_name == 'home' ? "#Schedule" : "https://energyxfitness.com/#Schedule"}
            %i.fa.fa-calendar
            LIVE Schedule
        %li.nav-item.text-center
          %a.nav-link{href: action_name == 'home' ? "#Events" : "https://energyxfitness.com/#Events"}
            %i.fa.fa-glass
            Events
        %li.nav-item.text-center
          %a.nav-link{href: action_name == 'home' ? "#Classes" : "https://energyxfitness.com/#Classes"}
            %i.fa.fa-bolt
            Classes
        - if @articles_available
          %li.nav-item.text-center
            %a.nav-link{href: blog_path, class: @subnav == 'blog' ? 'active' : ''}
              %i.fa.fa-rss
              Blog
        %li.nav-item.text-center
          %a.nav-link{hredf: "tel:+12106084241"}
            %i.fa.fa-phone
            Call
        %li.nav-item.text-center
          = link_to "https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=42", target: "_blank", class: "btn btn-sm btn-primary", style: "margin: 10px 10px 0px 10px" do
            %i.fa.fa-gift
            Gift Cards
        %li.nav-item.text-center
          = link_to "https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=-7&sTG=22&sView=week&sLoc=1", class: "btn btn-sm btn-success", style: "margin-top: 10px; color: #000" do
            Book a Live Class
%div
  .row.row-fluid.bg-success#CovidBanner
    .col-12
      %h6.text-center.text-dark
        Join us LIVE and ONDEMAND on our
        %a.text-primary{href: 'https://vimeo.com/ondemand/energyxonline'}
          Vimeo Channel
          %i.fa.fa-external-link
