%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{:charset => "utf-8"}/
%meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
%meta{:content => "The best total body workout in San Antonio, TX", :name => "description"}
%meta{:content => "Alison Galvan - Energyx", :name => "author"}
