#sidebar
  .nav-side-menu
    .brand EXF
    %i.fa.fa-bars.fa-2x.toggle-btn{"data-target" => "#menu-content", "data-toggle" => "collapse"}
    .menu-list
      %ul#menu-content.menu-content.collapse.out
        %a{href: dashboard_path}
          %li{class: @subnav == 'dashboard' ? 'active' : nil}
            %i.fa.fa-dashboard.fa-lg
            Dashboard

        %a{href: articles_path}
          %li{class: @subnav == 'articles' ? 'active' : nil}
            %i.fa.fa-newspaper-o
            Articles

        %a{href: events_path}
          %li{class: @subnav == 'events' ? 'active' : nil}
            %i.fa.fa-glass
            Events

        %a{href: coaches_path}
          %li{class: @subnav == 'coaches' ? 'active' : nil}
            %i.fa.fa-user-secret
            Coaches

        %a{href: pricing_options_path}
          %li{class: @subnav == 'pricing_options' ? 'active' : nil}
            %i.fa.fa-dollar
            Pricing Options

        %a{href: studio_session_types_path}
          %li{class: @subnav == 'studio_session_types' ? 'active' : nil}
            %i.fa.fa-star
            Class Types

        %a{href: questions_path}
          %li{class: @subnav == 'questions' ? 'active' : nil}
            %i.fa.fa-question
            FAQs

        %a{href: challenges_path}
          %li{class: @subnav == 'challenges' ? 'active' : nil}
            %i.fa.fa-flash
            Challenges

        %a{href: participants_path}
          %li{class: @subnav == 'participants' ? 'active' : nil}
            %i.fa.fa-street-view
            Participants

        %a{href: submissions_path}
          %li{class: @subnav == 'submissions' ? 'active' : nil}
            %i.fa.fa-stack-overflow
            Submissions

        %a{href: root_path}
          %li{class: @subnav == 'static_pages' ? 'active' : nil}
            %i.fa.fa-home
            Home

        %a{href: destroy_user_session_path, method: :delete}
          %li
            %i.fa.fa-sign-out.fa-lg
            Sign Out
