#studio_session_dialog.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "studio_session_dialog", "data-backdrop" => "static", "data-keyboard" => "true", :role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          Class
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
