- provide(:title, 'Classes')
%br
%br
.row
  .col-sm-12
    %h3
      Classes
      .pull-right
        = link_to new_studio_session_path, class: 'btn btn-success btn-sm', remote: true do
          %i.fa.fa-plus
          New
.row
  .col-sm-12
    = smart_listing_render :studio_sessions

= render "studio_sessions/dialog"
