.row.equal-height
  - if @events.empty?
    .col-sm-12.col-md-6.col-centered
      .card.card-inverse.card-warning.text-center
        .card-block
          %blockquote.card-blockquote
            %p.lead Nothing planned out at the moment, but check back soon!
  - else
    - @events.each do |event|
      .col-sm-12.col-md-6.col-lg-4
        .card.mb-3
          %img.card-img-top.img-fluid{alt: event.name, src: event.promo_image.url}
          .card-block{style: "background-color: #fff;"}
            %h4.card-title= event.name
            %span.badge.badge-primary.mb-1= local_time event.starts_at
            %p.card-text= event.description
          .card-footer
            %small.text-muted.pull-left
              Last updated
              = local_time_ago event.updated_at
            - if event.link.present?
              .pull-right
                %a.btn.btn-success.btn-sm{href: event.link, target: "_blank"} Details
