- provide(:title, "#{@event.name} Confirmation")
%section
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-6.col-lg-6
            .text-center
              = render "events/promo_details", event: @event
          .col-sm-12.col-md-6.col-lg-6
            .unobtrusive-flash-container{style: "z-index: 100000"}
            .card
              .card-block
                .text-center
                  %br
                  %h1.text-info Success!
                  %hr
                  %h4
                    Your team,
                    %strong= @event_team.name
                    is now registered for
                    %strong= @event.name
                    !
                  %p Please contact us to change any of your registration details!
