#static_pages_home {
  #BgDiv1 {
    background: url('https://farm2.staticflickr.com/1602/25943750730_352dd06050_o.jpg') no-repeat center center fixed;
    background-size: 100vw auto;
    height: 50vh;
    background-color: #f3f3f3
  }

  #BgDiv2 {
    background: url('https://farm2.staticflickr.com/1616/25611858174_e5cf1c33e6_o.jpg') no-repeat center center fixed;
    background-size: 100vw auto;
    height: 50vh;
    background-color: #f3f3f3
  }

  #BgDiv3 {
    background: url('https://farm2.staticflickr.com/1469/26190708906_9564324976_o.jpg') no-repeat center center fixed;
    background-size: 100vw auto;
    height: 50vh;
    background-color: #f3f3f3
  }

  #BgDiv4 {
    background: url('https://farm2.staticflickr.com/1628/26124174732_298bb29a93_o.jpg') no-repeat center center fixed;
    background-size: 100vw auto;
    height: 50vh;
    background-color: #f3f3f3
  }

  #BgDiv5 {
    background: url('https://scontent-dfw5-1.cdninstagram.com/vp/8da2badfee30a29bf6d7d5a25b9c6e31/5B6BDBA3/t51.2885-15/s640x640/sh0.08/e35/28430249_196136094313440_5778084520523726848_n.jpg') no-repeat center center fixed;
    background-size: 100vw auto;
    height: 50vh;
    background-color: #f3f3f3
  }

  #LandingContainer {
    background-color: unset;
    padding-top: unset;
  }
  /* The only rule that matters */
  #video-background {
  /*  making the video fullscreen  */
    position: fixed;
    right: 0;
    bottom: -48px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
  }

  .jumbotron {
    margin: 10%;
    background-color: rgba(34, 205, 205, 0.6)
  }

  .leaderboard {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

@media screen and (max-width : 768px) {
  #static_pages_home {
    video {
      display: none;
    }
    #LandingContainer {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      background: url('https://farm2.staticflickr.com/1451/25613960663_60c9f3ca95_o.jpg') no-repeat center center fixed;
      background-size: cover;
    }
  }
}
