- provide(:title, 'Coaches')
%br
%br
.row
  .col-sm-12
    %h3
      Coaches
      .pull-right
        = link_to new_coach_path, class: 'btn btn-success btn-sm', remote: true do
          %i.fa.fa-plus
          New
.row
  .col-sm-12
    = smart_listing_render :coaches

= render "coaches/dialog"
