.row.py-3.flex-items-sm-center
  - @coaches.each do |coach|
    .col-xs-12.col-sm-3.py-2.clearfix
      .card.profile-card
        %figure
          %input#fab.fab{:type => "checkbox"}/
          %label.toggle{:for => "fab"} +
          %img.img-fluid.img-profile{alt: coach.name, src: coach.profile_image.url}
        .card-block.text-xs-center
          %p.card-title.font-weight-bold= coach.name
          %p.card-subtitle.text-muted= coach.bio
          %br/
