.row
  - @coaches.each do |coach|
    .col-xs-12.col-sm-3
      %figure.figure
        %img.figure-img.img-fluid.rounded-circle{alt: coach.name, src: coach.profile_image.url}
        %figcaption.figure-caption
          %h4.lead= coach.name
          %p= coach.bio
