.row
  - @coaches.each do |coach|
    .col-xs-12.col-sm-3
      %figure.figure
        %img.figure-img.img-fluid.rounded-circle{alt: coach.name, src: coach.profile_image.url}
        %figcaption.figure-caption
          %h4.lead= coach.name
          %p= coach.bio

:javascript
  $('figcaption').readmore({
    collapsedHeight: '200px',
    speed: 600,
    moreLink: '<a class="text-center" style="margin: 10px;" href="#">More <i class="fa fa-chevron-circle-down"></i></a>',
    lessLink: '<a class="text-center" style="margin: 10px;" href="#">Less <i class="fa fa-chevron-circle-up"></a>',
  });
