%section#Classes
  %hr
  .container.container-fluid
    .section-header
      .section-title
        .row.row-fluid
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h1 CLASSES
              %p
                Our classes are designed to
                %em push
                you, not
                %em wreck
                you. Most are 45 minutes to an hour long, and you don't need any previous experience on a
                water rower to get a great workout.
    .section-content
      #classes_placeholder.text-center
        %p.lead
          %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw
      %br
      .embed-container
        %iframe{allowfullscreen: "", frameborder: "0", src: "https://www.youtube.com/embed/N00qBABevWQ"}
