%section#Events
  %hr
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h2 EVENTS
              %p You don't always have to work out to hang out, sometimes we also go out! Check out what we've got planned.
    .section-content
      #events_placeholder
        %p.lead.text-center
          %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw
