%section#Instagram
  %hr
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h1 THE LATEST
              %p Follow us on Insta and stay up to date with what we've got going on!

    .section-content
      #instagram_placeholder
        %p.lead.text-center
          %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw
