%section#Leaderboard
  %hr
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h2 #XCrew Challenges
              %p.lead The more you row, the higher you go! Join the challenge!
              = link_to join_path, class: 'btn btn-success btn-md', style: "color: #000" do
                %i.fa.fa-trophy
                JOIN
  .section-content
    .row
      .col-sm-12
        #leaderboard_placeholder.text-center
          %p.lead
            %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw
