%section#Schedule
  %hr
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h2 SCHEDULE
              %p
                This is our general, weekly schedule. For the the most up-to-date info, check out our
                %a{href: 'https://clients.mindbodyonline.com/classic/home?studioid=226360'} direct booking site.
                Powered by MindBody™.
    .section-content
      #schedule_placeholder.text-center
        %p.lead
          %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw
