%section#Schedule
  %hr
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h2 LIVE STREAMING SCHEDULE
              %p Join us from the comfort of your home.
    .section-content
      %p.text-center
        This is schedule for live classes online. Here's how it works!
        %br
        * Sign-up at least 30 minutes before class
        %br
        * Check your e-mail 30 minutes before class for access information
        %br
        * Show-up & sweat with your fit-fam!
        %br
      %healcode-widget{"data-type" => "schedules", "data-widget-id" => "#{Studio.last.schedule_widget_id}", "data-widget-partner" => "object", "data-widget-version" => "1"}
      -# #studios_placeholder.text-center
      -#   %p.lead
      -#     %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw
