%section#Schedule
  %hr
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h2 SCHEDULE
              %p
                Our schedules vary by location.
                Be sure to check where you sign up!
    .section-content
      %p.text-center
        #studios_placeholder.text-center
          %p.lead
            %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw
