#ThreeThings{style: 'background-color: #f3f3f3'}
  .container-fluid{style: "background-color: #3c3c3c; padding-top: 20px;"}
    .section-header
      .section-title.p-3
        .row
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h2.display-3.p-3.text-white
                What We
                %em Do
              .lead.text-white EnergyX Fitness features high intensity, low impact classes dubbed San Antonio's Best Total Body Workout.
              %hr{style: 'background-color: white'}
              %h5.text-white
                %strong Find us at TWO locations, Broadway, and Hemisfair
  .container-fluid{style: "margin: 0; padding: 0; background-color: #f3f3f3"}
    .row.row-equal
      .col-xs-12.col-sm-12.col-md-12.col-lg-6#GroupImage
        %img.img-fluid.hidden-md-up{src: "https://energyx2.s3-us-west-2.amazonaws.com/uploads/new_bg.jpg"}
      .col-xs-12.col-sm-12.col-md-12.col-lg-6
        .div{style: "padding: 10%"}
          %hr.blue-hr
          %h2
            %strong Group Fitness Classes
          %br
          %p Get your sweat on in one of a variety of classes to choose from. Weather your goal is cardio, strength, HIIT, or yoga, we've got a class for you!
          %p Check out the class descriptions for more details.
    .row.row-equal
      .col-xs-12.col-sm-12.col-md-12.col-lg-6
        %img.img-fluid.hidden-md-up{src: 'https://farm2.staticflickr.com/1812/41135771250_d3b4d1f675_h.jpg'}
        .div{style: "padding: 10%"}
          %hr.blue-hr
          %h2
            %strong Personal Training
          %br
          %p If you're looking for more private attention, personal training is what you need. Our highly qualifies trainers will created you a custom workout plan using equipment including WaterRowers, TRX Suspension Trainer, Kettlebells, BOSU Balance Trainer, and more!
          %br
          %a.btn.btn-primary{href: "https://forms.zohopublic.com/contact450/form/PersonalTrainingRequest/formperma/y3zYqDVs-l5KkNmQngSHZadbPCEFmyzHPd9Wk5uCOt8", target: '_blank'}
            Sign Up
      .col-xs-12.col-sm-12.col-md-12.col-lg-6#PersonalTrainingImage
    .row.row-equal
      .col-xs-12.col-sm-12.col-md-12.col-lg-6#NutritionImage
        %img.img-fluid.hidden-md-up{src: 'https://images.pexels.com/photos/89235/pexels-photo-89235.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'}
      .col-xs-12.col-sm-12.col-md-12.col-lg-6
        .div{style: "padding: 10%"}
          %hr.blue-hr
          %h2
            %strong Nutrition Counseling
          %br
          %p Our Board Certified Dietitian, Gloria Guerra, is here to make nutrition easy and healthy eating taste good. Book a session to accelerate your health and fitness goals!
          %p
            Services include:
            %ul
              %li Custom Meal Planning
              %li Guided Grocery Shopping
              %li At-Home Meal Prep Workshops
          %br
          %a.btn.btn-primary{href: "https://forms.zohopublic.com/contact450/form/PersonalTrainingRequest/formperma/y3zYqDVs-l5KkNmQngSHZadbPCEFmyzHPd9Wk5uCOt8", target: '_blank'}
            Sign Up
