.row
  .col-sm-12.col-md-6.col-centered
    - @challenges.each do |challenge|
      .card
        %table.table.table-hover
          %thead.bg-info{style: "color: #fff"}
            %th{colspan: 3}= challenge.name.upcase
          %tbody
            - challenge.participants.each_with_index do |participant, index|
              %tr
                %td= index + 1
                %td= participant[0]
                %td= participant[1]

      -# .col-sm-12.col-md-6
      -#   .card
      -#     %table.table.table-hover
      -#       %thead.bg-info{style: "color: #fff"}
      -#         %th{colspan: 3} THIS WEEK
      -#       %tbody
      -#         - @week_leaders.each_with_index do |participant, index|
      -#           %tr
      -#             %td= index + 1
      -#             %td= participant.name
      -#             %td= number_with_delimiter participant.meters_from(Time.now.beginning_of_week, Time.now)
