- provide(:title, 'Studios')
%br
%br
.row
  .col-sm-12
    %h3
      Studios
      .pull-right
        = link_to new_studio_path, class: 'btn btn-success btn-sm', remote: true do
          %i.fa.fa-plus
          New
.row
  .col-sm-12
    = smart_listing_render :studios

= render "studios/dialog"
