.row.equal-height
  - @studios.each do |studio|
    .col-sm-12.col-md-6
      .card.my-3
        %img.card-img-top.img-fluid{alt: studio.name, src: studio.banner_image.url, style: "max-height: 250px;"}
        .card-block
          %h4.card-title= studio.name
          %p.card-text= studio.description
        .card-footer
          %small.pull-right
            = link_to studio_path(studio), data: { turbolinks: false }, class: 'btn btn-sm btn-success text-info' do
              %i.fa.fa-calendar
              SCHEDULE
