.row
  .col-sm-12.col-md-6.col-lg-5.col-centered
    .card.card-outline-primary.mt-4
      .card-block
        .row
          .col-sm-12
            %h2 Sign Up
            %p.text-primary If you're seeing this page while trying to register for an event, please contact us @ contact@energyxfitness.com
